root={{ debian_mailout_root_email }}

mailhub={{ debian_mailout_smarthost_hostname }}

rewriteDomain=

hostname={{ debian_mailout_hostname|default:inventory_hostname }}

FromLineOverride=YES

AuthUser={{ debian_mailout_smarthost_username }}
AuthPass={{ debian_mailout_smarthost_password }}

UseTLS=YES
UseSTARTTLS=YES
AuthMethod=LOGIN
mailhub={{ debian_mailout_smarthost_hostname }}:{{ debian_mailout_smarthost_port }}
